.site-header {
  height: 133px;
  overflow: hidden;
  background: $white;

   @media #{$medium-up} {
    max-height: 92px;
  }
  
  &__wrapper {
    @include grid-row();
  }
}

.site-logo {
  @include grid-column($columns:6.5, $offset:.2);

  @media #{$medium-up} {
    @include grid-column($columns:3);
  }

  @media #{$large-up} {
    @include grid-column($columns:2, $offset:0);
  }

//@media screen and (max-width: $small-breakpoint){
 //  width: 55%;
 // }
  
  &__image {
    float: left;
    max-height: rem-calc(70);
    margin-top: rem-calc(14);
  }

  &__text {
    float: left;
    margin: rem-calc(33 0 22 10);
    font-size: rem-calc(20);
    //line-height: rem-calc(45);
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-normal;
    color: $dark-gray;
    //display: inherit;

   // @media #{$large-up} {
   //   display: block;
    //}
  }
}

.main-nav {
 display: none;

  @media #{$medium-up} {
    display: block;
    height: 100%;
    @include grid-column($columns:7, $offset:0);

  @media #{$large-up} {
    @include grid-column($columns:10);
    height: 100%;

  }

    &__menu { 
      list-style: none;
      float: right;
      //margin: 0;

          

      > li { 
        float: right;
        // margin: rem-calc(0 6);


       
        &:first-child {
          width: rem-calc(140);
          margin-right: 0;
         // margin-left: rem-calc(6);

        }


        > a {
          display: block;
          height: 100%;
          width: 100%;
          line-height: rem-calc(25);
          padding: rem-calc(34 24);
          font-family: $font-family-sans-serif;
          font-weight: $font-weight-normal;
          font-size: rem-calc(18);
          text-align: center;
          color: $mid-gray;
          transition: all 300ms;

          
          &:hover {
            background: $keppel-tint;
            color: $dark-gray;
          }
      
        }
      }
    }
  }
}


.mobile-buttons {
  width: 100%;
  overflow: auto;
  display: block;

  @media #{$medium-up} {
    display: none;
}

  .mobile-button {
    float: right;
    width: 25%;
    text-align: center;
    transition: all 300ms;
    margin-top: rem-calc(4);
    padding: rem-calc(10 0);
    color: $mid-gray;

    &:hover {
      background: $keppel-tint;
      color: $dark-gray;
    }
  }
}
