.projects {

  &__content{
  @include grid-column($columns:8, $offset:2);
  @media screen and (max-width: $medium-breakpoint){
    @include grid-column($columns:11, $offset:0.5);
    }
  }

.photo-strip__text {
	text-transform: uppercase;
 & h1 {
  @media #{$small-only}{
    font-size: rem-calc(46);
  }
 }
}

  .description {
    padding: rem-calc(50 0 0 0);
    @media #{$small-only}{
      padding: rem-calc(25 0 0 0);
    }

    & p {
      @media #{$small-only}{
        padding-top: rem-calc(5);
      }
    }
  }

  .info {
  	
}

  .gallery {
    @include grid-column($columns:12, $offset:0);
    padding-top: rem-calc(30);
    padding-bottom: rem-calc(5);

    &__description {
      padding-top: rem-calc(4);
      margin-bottom: rem-calc(6);
    }
  }

  figure {
    padding-bottom: rem-calc(2);
    }

  

  .impact {
    @include grid-column ($columns:6, $offset:3);
    padding-bottom: rem-calc(40);

   @media #{$small-only} {
     @include grid-column ($columns:12, $offset:0);
     padding-bottom: rem-calc(30);
    }


    &__video__title {
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(10);
      text-align: center;
    }
  }


}