---
title: about
---
<div class="about">

	<div class="photo-strip" style="background-image: url(/images/photostrips/about.jpg)">
		<div class="photo-strip__text">
			<h1>ABOUT</h1>
		</div>
	</div>

	
	<div class="boxes">
		<div class="box">
			<h3>Bio</h3>
			<hr width="24px">
			<p>
				My first memorable foray into design came in the fifth grade, when I would draw crazy combat robot designs on the margins of binder paper. I waited two years until I was finally able to turn those drawings into reality as I cut metal and soldered electronics in the garage with my father. From there, my designs ricocheted off the walls of my environment, influenced by all I experienced. However, I am more than just a designer. My environment revolves around my various interests. I was a competitive distance runner throughout high school, and I am an avid cyclist– from fixed gear to cyclocross, I’ve built all four of my bikes from the ground up. My city of San Francisco has incubated me with calm hikes through Sutro forest, and the colorful bustle of SoMa and the Bayview. And of course, I love all the hipster coffee shops– if you want to find me, check The Mill or Flywheel Roasters first!
			</p>
		</div>

		<div class="box-interests">
			<h3>Interests</h3>
			<hr width="72px">
			<ul>
				<li>Cycling</li>
				<li>Running</li>
				<li><a href="https://www.instagram.com/trocckk/" target="_blank">Photography</a></li>
				<li>Reading short stories</li>
				<li><a href="https://soundcloud.com/trocckk" target="_blank">Indie music</a></li>
				<li>Hipster coffee shops</li>
				<li>Fresh air</li>
			</ul>
		</div>

		<div class="box-skills">
			<h3>Skills</h3>
			<hr width="44px">
			<ul>
				<li>Ideation and design processes</li>
				<li>Manual and CAD-based machining</li>
				<li>Modelmaking</li>
				<li>Bohemien Coding Sketch</li>
				<li>Google Sketchup</li>
				<li>Adobe Illustrator</li>
				<li>HTML</li>
				<li>CSS/SCSS</li>
				

		</div>
	</div>

	<div class="image">
		<img src="/images/me.jpg">
	</div>
	
	<div class="box-main">
		<h3>Design Philosophy</h3>
		<hr width="170px">
		<p>
			My diverse body of work has given me valuable insight into the essential question of what is good design. Early in high school, I learned about the Bauhaus movement and its principle “form follows function.” These three words resonated with me at the time. But over the years, as I have both designed and created, my personal design philosophy has strayed from the bare-bones simplicity of Bauhaus. I believe that form and function can coexist in symbiotic ways. It is naïve to overlook the power of form and beauty. Beauty can complement function and inspire, as long as the function has a definite purpose. One thing is for sure– I thrive on purpose-driven design. You won’t see me working at the latest startup developing the next social media app. Making a difference and doing important work with intensity, vision and passion– that’s my game.  
		</p>
</div>
