---
title: connect
---
<div class="connect">

	
	<div class="photo-strip" style="background-image: url(/images/photostrips/connect.jpg)">
		<div class="photo-strip__text">
			<h1>CONNECT</h1>
		</div>
	</div>

	<div class="box-logo">
		<img src="/images/troylogo.svg" height: rem-calc(240) width: rem-calc(240)>
	</div>

	<div class="box-main">
		<h4>Interested in my work? Want a copy of my resume? Let me know below.</h4>
		
			<!-- Change the width and height values to suit you best -->
			<div class="typeform-widget" data-url="https://troy26.typeform.com/to/US643Y" data-text="personal" style="width:100%;height:450px;"></div>
			<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
			<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=US643Y&amp;utm_source=typeform.com-1640356-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a></div>

	</div>



