---
title: home
---
<div class="index">
	
	<div class="photo-strip" style="background-image: url(/images/photostrips/home.jpg)">
	</div>

	<div class="box">
		<div class="box-wrapper"> 
			<div class="box-label">
				<h2>A BIT ABOUT ME</h2>
			</div>
			<div class="box-label-mobile">
				<h3>A</h3>
				<h3>B</h3>
				<h3>O</h3>
				<h3>U</h3>
				<h3>T</h3>
			</div>
		</div>
	</div>

	<div class="box-main">
		<div class="box-main-text">
			<p>
		Welcome! My name is Troy Mock. I am a designer, writer, student, (improving) singer– the list goes on. Born and raised in San Francisco, I now call Ithaca, New York and its frigid beauty my home for the time being. At Cornell University, I am a Design and Environmental Analysis major. I am exploring the manifestation of design in various fields in and out of school, from user interface and coding to furniture. I invite you to have a look around my website and reach out if you are interested in my work, or want to collaborate.
			</p>
		</div>
		<div class="button-about">
			<p>Learn more about my background</p>
			<div class="button-about-button">
		<%= link_to 'About', 'about.html', class: 'button', id: 'responsive-link' %>
			</div>
		</div>
	</div>

	<div class="box-work">
		<div class="box-work-label">
			<h2>MY WORK</h2>
		</div>

	<div class="rotation">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=3.0.1"></script>
	<script type="text/javascript" src="javascripts/rotator.js"></script>
	<script type="text/javascript" src="javascripts/menu.js"></script>
	</pre>
	<div id="rotating-item-wrapper">
	<img class="rotating-item" src="images/cover/home1.jpg" />
 	<img class="rotating-item" src="images/cover/home2.jpg" />
 	<img class="rotating-item" src="images/cover/home3.jpg" />
	<pre>
	</div>

		<div class="box-buttons">
			<p>Explore my design work or read my writing</p>
			<div class="buttons">
			<%= link_to 'Works', 'works.html', class: 'button', id: 'responsive-link' %>
			<%= link_to 'Writing', 'writing.html', class: 'button', id: 'responsive-link' %>
			</div>
		</div>
	</div>


</div>