---
title: works
---

<div class="works-page">
	
	<div class="photo-strip" style="background-image: url(/images/photostrips/projects.jpg)">
		<div class="photo-strip__text">
			<h1>WORKS</h1>
		</div>
	</div>


	 <div class="works-list">
        <% data.projects.each do |project| %>
          <article class="works-list__project">
            <% link_to "/projects/#{project[0].split('-')[1]}" do %>
              <div class="works-list__project__image <%= project[0].split('-')[1] %>" style="background-image: url(/images/<%= project[1].image %>)"></div>
            <% end %>
            <div class="works-list__project__text">
              <% link_to "/projects/#{project[0].split('-')[1]}" do %>
              <h3 class="works-list__project__name"><%= project[1].name %></h3>
              <% end %>
              <span class="works-list__project__tagline"><%= project[1].tagline %></span>
            </div>
          </article>
        <% end %>
      </div>

    
			
			
		
</div>

