---
title: writing
---
<div class="writing">
	
	<div class="photo-strip" style="background-image: url(/images/photostrips/writing.jpg)">
		<div class="photo-strip__text">
			<h1>WRITING</h1>
		</div>
	</div>


	<div class="works"> 

					<article class="essays">
						<img class="work__photo" src="/images/writing/narrative.jpg">
						<h3 class="work__title">NARRATIVE ESSAYS</h3>
						<dl>
							<dt>Coffee Shop Blues</dt>
							<dd>15' | A look into San Francisco coffee shop culture</dd>
										<!--<dt>Medicine</dt>
										<dd>16' | My perception of medicine over the years</dd>-->
						</dl>
					</article>


					<article class="stories">
						<img class="work__photo" src="/images/writing/story.jpg">
						<h3 class="work__title">SHORT STORIES</h3>
						<dl>
							<dt>Music Man</dt>
							<dd>15' | A violin concert, turned into a discovery</dd>
							<dt><%= link_to 'The Balancing Act', '/writing/The Balancing Act.pdf' %></dt>
							<dd>15' | The quest for the quintessential leather jacket</dd>
						</dl>
					</article>

					<article class="articles">
						<img class="work__photo" src="/images/writing/article.jpg">
						<h3 class="work__title">PUBLISHED ARTICLES</h3>
						<dl>
							<dt><%= link_to 'Servo Magazine: Why Combat Robots?', '/writing/Why Combat Robots.pdf' %></dt>
							<dd>15' | Why I compete in this mystifying sport</dd>
							<dt><%= link_to 'Servo Magazine: The Evolution of Attitude', '/writing/The Evolution of Attitude.pdf' %></dt>
							<dd>14' | Tracing the evolution of my 3lb combat robot</dd>
						</dl>
					</article>
	</div>
</div>